!!!
%html
  %head
    %title ProductsCatalog
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    .navbar.navbar-fixed-top.navbar-default
      .container-fluid
        .navbar-header
        %a.navbar-brand(href=root_path) SHOP
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav.navbar-right.social
            - if user_signed_in?
              %li
                Hello
                = current_user.username
              %li
                = link_to 'Logout', destroy_user_session_path, method: :delete
            - else
              %li
                = link_to 'Login', new_user_session_path
              %li
                = link_to 'Sign up', new_user_registration_path
    .container-fluid.content
      = yield
      .clearfix


    .navbar.navbar-fixed-bottom.navbar-default
      .container.footer
        %p &copy; Company 2015